<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Digitale Selbstbeobachtungsbögen, ✓übersichtliche Reflexion therapeutischer Übungen und Ziele ✓ergänzende Psychoedukation in einer App ✓Kostenfrei auf Rezept » Jetzt starten!"  >
    <meta name="keywords" content="Digitale Selbstbeobachtungsbögen, minime, depression, CBT, cognitive behavioural therapy, mental health app, SELBSTMANAGEMENT IN DER VERHALTENSTHERAPIE, Verhaltenstherapie">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "minime" %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <%= favicon_tag 'images/minime_logo.png' %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <script id="usercentrics-cmp" data-settings-id="0H8EOonN-" src="https://app.usercentrics.eu/browser-ui/latest/bundle.js" defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/plain" data-usercentrics="ga" async src="https://www.googletagmanager.com/gtag/js?id=G-8HRJ1Z5NHJ"></script>
    <script type="text/plain" data-usercentrics="ga">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-8HRJ1Z5NHJ');
    </script>
  </head>
  <body>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
