<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Digitale Selbstbeobachtungsbögen, ✓übersichtliche Reflexion therapeutischer Übungen und Ziele ✓ergänzende Psychoedukation in einer App ✓Kostenfrei auf Rezept » Jetzt starten!"  >
    <meta name="keywords" content="Digitale Selbstbeobachtungsbögen, minime, depression, CBT, cognitive behavioural therapy, mental health app, SELBSTMANAGEMENT IN DER VERHALTENSTHERAPIE">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "minime" %></title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <%= favicon_tag 'images/minime_logo.png' %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <script id="usercentrics-cmp" data-settings-id="0H8EOonN-" src="https://app.usercentrics.eu/browser-ui/latest/bundle.js" defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/plain" data-usercentrics="ga" async src="https://www.googletagmanager.com/gtag/js?id=G-8HRJ1Z5NHJ"></script>
    <script type="text/plain" data-usercentrics="ga">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8HRJ1Z5NHJ');
    </script>
  </head>
  <body>
    <%= yield %>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
