<!doctype html>
<html>
	<head>
		<link rel="preconnect" href="//app.usercentrics.eu">
		<link rel="preconnect" href="//api.usercentrics.eu">
		<link rel="preload" href="//app.usercentrics.eu/browser-ui/latest/loader.js" as="script">
		<script id="usercentrics-cmp" src="https://app.usercentrics.eu/browser-ui/latest/loader.js" data-settings-id="0H8EOonN-" async></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-8HRJ1Z5NHJ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-8HRJ1Z5NHJ');
		</script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-TD7BH3DED4"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-TD7BH3DED4');
		</script>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="✓ Selbstbeobachtungen in nur drei Klicks dokumentieren ✓ Interaktiv und spielerisch Verhaltensanalysen erstellen ✓Alle Einträge und Aufträge übersichtlich in der gemeinsamen Verlaufsansicht ✓ Kostenlos mit bis zu zwei Patient:innen testen » Jetzt starten!"  >
		<meta name="keywords" content="Digitale Selbstbeobachtungsbögen, minime, depression, CBT, cognitive behavioural therapy, mental health app, SELBSTMANAGEMENT IN DER VERHALTENSTHERAPIE,Verhaltenstherapie">
		<!-- Use the title from a page's frontmatter if it has one -->
		<title><%= current_page.data.title || "minime" %></title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
		<%= favicon_tag 'images/logos/logo_mobile.png' %>
		<%= stylesheet_link_tag "site" %>
		<%= javascript_include_tag "site" %>
	</head>
	<body>
		<%= partial "partials/navbar" %>
		<%= yield %>
		<%= partial "partials/footer" %>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<%= partial "partials/popup" %>
	</body>
</html>
