<div id="app-video" class="py-5">
	<div class="container text-center">
		<div class="p-3">
			<h2 class="my-2 text-center"><%= t(:'index.video.header') %></h2>
			<h3 class="my-2 text-center"><%= t(:'index.video.subheader') %></h3>
			<div class="d-block d-md-flex justify-content-center align-items-center">
				<%= image_tag 'team/founders.png', class: "flex-grow-1", style:"max-width: 100%", alt: "" %>
				<div class="text-start ps-3">
					<div class="border-bottom">
						<h4 class="my-3 text-start"><%= t(:'index.video.one') %></h4>
						<p class="my-3 text-start"><%= t(:'index.video.one_p') %></p>
					</div>
					<div class="border-bottom">
						<h4 class="my-3 text-start"><%= t(:'index.video.two') %></h4>
						<p class="my-3 text-start"><%= t(:'index.video.two_p') %></p>
					</div>
					<div class="border-bottom">
						<h4 class="my-3 text-start"><%= t(:'index.video.three') %></h4>
						<p class="my-3 text-start"><%= t(:'index.video.three_p') %></p>
					</div>
					<div class="border-bottom">
						<h4 class="my-3 text-start"><%= t(:'index.video.four') %></h4>
						<p class="my-3 text-start"><%= t(:'index.video.four_p') %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
