<div class="background-blue pb-5 negative-margin">
  <div  id="app-steps" class="container border-app py-3 position-relative">
    <div class="section-1">
      <div class="app-grid">
        <div class="mobile-hidden">
          <%= image_tag 'step-1.svg', class: "illustrations-one pt-5" %>
        </div>
        <div class="px-lg-5">
          <h1 class="pt-md-5 text-white text-wrap pt-lg-5 text-start text-md-start text-lg-start text-xl-start padding-left">Verhaltenstherapie <br>
            <span class="outline-header">bisher</span>
          </h1>
          <p class="mt-3 text-white text-start text-md-start text-lg-start text-xl-start padding-left">Beobachtungen im Alltag werden unvollständig oder unsortiert widergegeben Selbstbeobachtung auf komplexen, unmotivierstarten Papierbögen Analyse in der Sitzung auf Flipcharts.</p>
          <%= image_tag 'step-1.svg', class: "illustrations-one pt-5 desktop-hidden" %>
        </div>
      </div>
      <div class="app-grid">
        <div class="px-lg-5">
          <h1 class="pt-md-5 text-white pt-lg-5 text-start text-md-start text-lg-start text-xl-start padding-left">In den<br>
            <span class="outline-header">Therapiestunden</span></h1>
          <p class="mt-3 text-white text-start text-md-start text-lg-start text-xl-start padding-left">Online, sowie vor Ort -können nun Therapeut:in und Patient:in individuelle Aufgaben für die Zeit bis zur nächsten Sitzung in der App definieren. Ein Beispiel könnte das tägliche Beobachten von Gedanken sein (Gedankenprotokoll)</p>
          <div class="desktop-hidden mobile-image-space">
            <%= image_tag 'step-2.svg', class: "illustrations-two pt-5 " %>
          </div>
        </div>
        <div class="mobile-hidden">
          <%= image_tag 'step-2.svg', class: "illustrations-two pt-5" %>
        </div>
      </div>
    </div>
    <div class="section-2">
      <div class="app-grid">
        <div class="mobile-hidden">
          <%= image_tag 'step-3.svg', class: "illustrations-three pt-5" %>
        </div>
        <div class="px-lg-5">
          <h1 class="pt-md-5 text-white pt-lg-5 text-start text-md-start text-lg-start text-xl-start padding-left">Zwischen den<br>
            <span class="outline-header">Sitzungen</span></h1>
          <p class="mt-3 text-white text-start text-md-start text-lg-start text-xl-start padding-left">Spielerisch können jetzt mit einem Klick Gedanken, Emotionen und Verhaltensweisen festgehalten werden. Alle Einträge sind in einer übersichtlichen Timeline gespeichert.</p>
          <div class="desktop-hidden mobile-image-space">
            <%= image_tag 'step-3.svg', class: "illustrations-three pt-5 desktop-hidden" %>
          </div>
        </div>
      </div>
      <div class="app-grid">
        <div class="px-lg-5">
          <h1 class="pt-md-5 text-white pt-lg-5 text-start text-md-start text-lg-start text-xl-start padding-left">In der nächsten<br>
            <span class="outline-header">Therapiestunde</span></h1>
          <p class="mt-3 text-white text-start text-md-start text-lg-start text-xl-start padding-left"> Einzelne Einträge können in der nächsten Sitzung gemeinsam besprochen, vervollständigt und analysiert werden. Therapeut:in und Patient:in erstellen so gemeinsam eine Verhaltensanalyse. </p>
          <div class="desktop-hidden mobile-image-space"></div>
          <%= image_tag 'step-4.svg', class: "illustrations-four pt-5 " %>
        </div>
        <div class="mobile-hidden">
          <%= image_tag 'step-4.svg', class: "illustrations-four pt-5" %>
        </div>
      </div>
    </div>
  </div>
</div>
