<div id="carouselExampleCaptions" class="carousel slide py-3" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<%= image_tag 'https://res.cloudinary.com/minimehealth/image/upload/v1662037010/Website/tools_p8zknu.png', class: "d-block my-3 mx-auto", style: "max-width: 100%;", alt: "" %>
			<div class="d-md-block py-3 py-md-5">
				<h4 class="text-white pt-5"><%= t(:'index.app_p1') %></h4>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag 'https://res.cloudinary.com/minimehealth/image/upload/v1662037010/Website/timelines_auuyv3.png', class: "d-block my-3 mx-auto", style: "max-width: 100%;", alt: "" %>
			<div class="d-md-block py-3 py-md-5">
				<h4 class="text-white pt-5"><%= t(:'index.app_p2') %></h4>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag 'https://res.cloudinary.com/minimehealth/image/upload/v1662037010/Website/analyses_eijxen.png', class: "d-block my-3 mx-auto", style: "max-width: 100%;", alt: "" %>
			<div class="d-md-block py-3 py-md-5">
				<h4 class="text-white"><%= t(:'index.app_p3') %></h4>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
