<div id="citations" class="pt-5">
	<div class="container">
		<div class="p-3">
			<h2 class="my-2 text-center text-uppercase"><%= t(:'therapists.citations.header') %></h2>
			<h3 class="my-2 text-center"><%= t(:'therapists.citations.subheader') %></h3>
			<div class="row justify-content-between align-items-start mt-5">
				<div class="col-12 col-md-6 col-lg-4 position-relative">
					<div class="pb-3">
						<p class="block-text pb-5 pt-3">"<%= t(:'therapists.citations.one_p') %>"
						</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 position-relative">
					<div class="pb-3">
						<p class="block-text pb-5 pt-3">"<%= t(:'therapists.citations.two_p') %>"
						</div>
					</p>
				</div>
				<div class="col-12 col-md-6 col-lg-4 position-relative">
					<div class="pb-3">
						<p class="block-text pb-5 pt-3">"<%= t(:'therapists.citations.three_p') %>"
						</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-between align-items-start">
				<div class="col-12 col-md-6 col-lg-4 position-relative">
					<div class="mini-circle border-purple"></div>
					<div class="ps-5 pb-3">
						<p class="fw-bold mb-2"><%= t(:'therapists.citations.four')%></p>
						<p class="block-text pb-5 pt-3"><%= t(:'therapists.citations.p_four') %>
						</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 position-relative">
					<div class="mini-circle border-purple"></div>
					<div class="ps-5 pb-3">
						<p class="fw-bold mb-2"><%= t(:'therapists.citations.five')%></p>
						<p class="block-text pb-5 pt-3"><%= t(:'therapists.citations.p_five') %>
						</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 position-relative">
					<div class="mini-circle border-purple"></div>
					<div class="ps-5 pb-3">
						<p class="fw-bold mb-2"><%= t(:'therapists.citations.six')%></p>
						<p class="block-text pb-5 pt-3"><%= t(:'therapists.citations.p_six') %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
