<div id="company-values" class="bg-thought pt-5">
	<div class="container">
		<div class="row justify-content-between align-items-start my-5">
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'team.values.remote')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'team.values.p_remote') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'team.values.self')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'team.values.p_self') %>
					</div>
				</p>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'team.values.health')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'team.values.p_health') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'team.values.teamwork')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'team.values.p_teamwork') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'team.values.heroes')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'team.values.p_heroes') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'team.values.feedback')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'team.values.p_feedback') %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
