<div id="how" class="background-lightblue">
  <div class="container px-lg-5 py-3">
    <h2 class="text-start pt-5 mb-5">Wie funktioniert es?</h2>
    <div class="white-grid mb-5">
      <div class="text-center white-box py-5 px-2">
        <%= image_tag 'icon_register.svg', class: "icon mb-5" %>
        <p>1. In nur 2 Minuten<br>
          registrieren</p>
      </div>
      <div class="text-center white-box py-5 px-2">
        <%= image_tag 'icon_email.svg', class: "icon mb-5" %>
        <p>2. Patient:innen<br>
          hinzufügen</p>
      </div>
      <div class="text-center white-box py-5 px-2">
        <%= image_tag 'icon_task.svg', class: "icon mb-5" %>
        <p>3. Aufgaben<br>
          erstellen</p>
      </div>
      <div class="text-center white-box py-5 px-2">
        <%= image_tag 'icon_checklist.svg', class: "icon mb-5" %>
        <p>4. Einträge<br>
          auswerten</p>
      </div>
      <button type="button" class="shadow-none btn-blue d-none d-sm-none d-md-block d-lg-block d-xl-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="text-center box-background-blue py-5 px-2">
          <%= image_tag 'icon_phone.svg', class: "icon mb-5" %>
          <p>Jetzt kostenlos<br>
            testen!</p>
        </div>
      </button>
      <%= partial "partials/newsletter" %>
    </div>
  </div>
</div>
