<div id="how" class="background-lightblue how-bg">
  <div class="container px-lg-5 py-3">
    <h2 class="px-5 text-start pt-5 mb-5">Wie funktioniert minime?</h2>
    <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-end justify-content-between">
      <div class="dots-width">
        <div class="d-flex justify-content-start">
          <%= image_tag 'green-dot.png', class: "dot" %>
          <p class="mt-2 margin-left-dot text-start"><span class="fw-bold">Einfache Dokumentation: </span>Gedanken, Gefühle und Verhalten, Notizen und Aufträge festhalten - mit nur wenigen Klicks zu jeder Zeit an jedem Ort. </p>
        </div>
        <div class="d-flex justify-content-start">
          <%= image_tag 'green-dot.png', class: "dot" %>
          <p class="mt-2 margin-left-dot text-start"><span class="fw-bold">Gemeinsame Analyse: </span>Therapeut:in und Patient:in sind direkt verbunden und können alle Einträge und Aufträge in der nächsten Behandlungsstunde besprechen.</p>
        </div>
        <div class="d-flex justify-content-start">
          <%= image_tag 'green-dot.png', class: "dot" %>
          <p class="mt-2 margin-left-dot text-start"><span class="fw-bold">Verhalten verstehen:  </span>Mit minime werden Selbstbeobachtungen gesammelt und dienen als Grundlage um Verhaltensmuster zu erkennen und zu verstehen.</p>
        </div>
        <div class="d-flex justify-content-start">
          <%= image_tag 'green-dot.png', class: "dot" %>
          <p class="mt-2 margin-left-dot text-start">Registrieren und Patient:innen einladen - in nur wenigen Minuten!</p>
        </div>
        <div class="text-start">
          <a href="https://app.minime.health/users/sign_up" type="button" class="text-start btn btn-aperol shadow-none mt-4">Jetzt starten!</a>
        </div>
      </div>
      <div class="text-right">
        <%= image_tag 'how.png', class: "how-image my-3 my-md-4 my-lg-5" %>
      </div>
    </div>
  </div>
</div>
