<div id="how" class="background-lightblue py-5">
  <div class="container p-5">
    <h2 class="my-5 text-start">Wie funktioniert es?</h2>
    <div class="white-grid">
      <div class="text-center white-box py-5 px-2">
        <%= image_tag 'icon_register.svg', class: "icon mb-5" %>
        <p>In nur 2 Minuten<br>
          registrieren</p>
      </div>
      <div class="text-center white-box py-5 px-2">
        <%= image_tag 'icon_email.svg', class: "icon mb-5" %>
        <p>Patient:innen<br>
          hinzufügen</p>
      </div>
      <div class="text-center white-box py-5 px-2">
        <%= image_tag 'icon_task.svg', class: "icon mb-5" %>
        <p>Aufgaben<br>
          erstellen</p>
      </div>
      <div class="text-center white-box py-5 px-2">
        <%= image_tag 'icon_checklist.svg', class: "icon mb-5" %>
        <p>Einträge<br>
          auswerten</p>
      </div>
      <div class="text-center white-box py-5 px-2">
        <%= image_tag 'icon_phone.svg', class: "icon mb-5" %>
        <p>Jetzt kostenlos<br>
          testen!</p>
      </div>
    </div>
  </div>
</div>
