<div id="app" class="background-lightblue py-5">
  <div class="container">
    <h2 class="my-5 text-left">Wie funktioniert es?</h2>
    <div class="white-grid">
      <div class="text-center white-box py-5">
        <%= image_tag 'register.png', class: "icon mb-5" %>
        <p>In nur 2 Minuten registrieren</p>
      </div>
      <div class="text-center white-box py-5">
        <%= image_tag 'email.png', class: "icon mb-5" %>
        <p>Erste Patient:innen per E-Mail & Chiffre hinzufügen</p>
      </div>
      <div class="text-center white-box py-5">
        <%= image_tag 'task.png', class: "icon mb-5" %>
        <p>Aufgaben erstellen und vergeben</p>
      </div>
      <div class="text-center white-box py-5">
        <%= image_tag 'check-list.png', class: "icon mb-5" %>
        <p>Einträge auswerten und analysieren</p>
      </div>
      <div class="text-center white-box py-5">
        <%= image_tag 'icon-phone.png', class: "icon mb-5" %>
        <p>Jetzt kostenlos testen!</p>
      </div>
    </div>
  </div>
</div>
