<div id="how" class="bg-therapist pt-5">
	<div class="container">
		<div class="p-3">
			<h2 class="my-2 text-uppercase text-white text-center"><%= t(:'therapists.values.header') %></h2>
			<h3 class="my-2 text-white text-center"><%= t(:'therapists.values.subheader') %></h3>
			<div class="row justify-content-between align-items-start mt-5 pt-3">
				<div class="col-12 col-md-6 col-lg-4 position-relative pb-4">
					<div class="mini-circle border-white"></div>
					<div class="ps-5 pb-3">
						<h3 class="text-uppercase text-white mb-2"><%= t(:'therapists.values.one')%></h3>
						<p class="text-white block-text pb-5 pt-3" style="min-height: 150px;"><%= t(:'therapists.values.p_one') %>
						</p>
					</div>
					<div class="pb-3">
						<%= image_tag 'team/founders.png', class: "flex-grow-1", style:"max-width: 100%", alt: "" %>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 position-relative pb-4">
					<div class="mini-circle border-white"></div>
					<div class="ps-5 pb-3">
						<h3 class="text-uppercase text-white mb-2"><%= t(:'therapists.values.two')%></h3>
						<p class="text-white block-text pb-5 pt-3" style="min-height: 150px;"><%= t(:'therapists.values.p_two') %>
						</p>
					</div>
					<div class="pb-3">
						<%= image_tag 'team/founders.png', class: "flex-grow-1", style:"max-width: 100%", alt: "" %>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 position-relative pb-4">
					<div class="mini-circle border-white"></div>
					<div class="ps-5 pb-3">
						<h3 class="text-uppercase text-white mb-2"><%= t(:'therapists.values.three')%></h3>
						<p class="text-white block-text pb-5 pt-3" style="min-height: 150px;"><%= t(:'therapists.values.p_three') %>
						</p>
					</div>
					<div class="pb-3">
						<%= image_tag 'team/founders.png', class: "flex-grow-1", style:"max-width: 100%", alt: "" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
