<div id="partners" class="background-white">
  <div class="container py-5">
    <div class="d-flex justify-content-between align-items-start px-3">
      <h3 class="text-start mb-5">Förderungen & Auszeichnungen</h3>
    </div>
    <div class="d-flex justify-content-between align-items-center px-3 pb-lg-5 pb-xl-5">
      <%= image_tag 'logos/senat.png', class: "partner" %>
      <a href="https://visionhealthpioneers.de/"><%= image_tag 'logos/vhp-logo.png', :class => "partner" %></a>
      <%= image_tag 'logos/ESF-Logo.png', class: "partner" %>
      <%= image_tag 'logos/EU_logo.png', class: "partner" %>
      <%= image_tag 'logos/hetzner-logo.svg', class: "partner" %>
    </div>
  </div>
</div>
