<div id="partners" class="background-white">
  <div class="container py-5">
    <div class="d-flex justify-content-between align-items-start px-3">
      <h3 class="text-start mb-5">Förderungen & Auszeichnungen</h3>
    </div>
    <div class="d-flex justify-content-between align-items-center px-3 pb-lg-5 pb-xl-5">
      <%= image_tag 'logos/senat.png', class: "partner" %>
      <a href="https://visionhealthpioneers.de/" target="_blank"><%= image_tag 'logos/vhp-logo.png', :class => "partner" %></a>
      <%= image_tag 'logos/ESF-Logo.png', class: "partner" %>
      <%= image_tag 'logos/EU_logo.png', class: "partner" %>
    </div>
    <div class="d-flex justify-content-between align-items-center px-5 pb-lg-5 pb-xl-5">
      <a href="https://www.nweurope.eu/projects/project-search/it4anxiety-managing-anxiety-via-innovative-technologies-for-better-mental-health/#tab-1" target="_blank"><%= image_tag 'logos/it4anxiety.png', :class => "partner" %></a>
      <a href="https://www.b-p-w.de/" target="_blank"><%= image_tag 'logos/bpw.png', :class => "partner" %></a>
      <a href="https://www.hetzner.com/de/cloud" target="_blank"><%= image_tag 'logos/hetzner-logo.svg', :class => "partner" %></a>
    </div>
  </div>
</div>
