<div id="patient-features" class="bg-orange pt-5">
	<div class="container">
		<div class="row justify-content-between align-items-start my-5">
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.one')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_one') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.two')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_two') %>
					</div>
				</p>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.three')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_three') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.four')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_four') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.five')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_five') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.six')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_six') %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
