<div id="prices" class="my-5">
	<div class="container py-3">
		<div class="row g-4">
			<div class="col-lg-4 col-md-6 col-12 my-5">
				<div class="bg-white cards-price py-3 d-flex flex-column justify-content-between">
					<div>
						<p class="text-center text-uppercase">Starter-Paket</p>
						<div class="mt-3 d-flex justify-content-center align-items-center">
							<h3>0,00</h2>
							<p>€</p>
						</div>
						<p class="mb-3 text-9 text-center">monatl. kündbar</p>
						<div class="px-3 d-flex justify-content-center">
							<ul class="features">
								<li><strong>Beobachtungsprotokolle</strong> für Gefühle, Gedanken, Anspannung, Stimmung</li>
								<li><strong>Notizfunktion</strong> Alle minime Features aus dem Basis-Paket</li>
								<li><strong>Positivtagebuch</strong> für Erfolge und Selbstmitgefühl</li>
								<li>Loben und Reagieren via <strong>Emojis</strong></li>
								<li><strong>Kommentarfunktion</strong> für jeden Eintrag verfügbar</li>
							</ul>
						</div>
					</div>
					<div class="my-3 text-center">
						<a href="https://app.minime.health" type="button" class="btn btn-purple btn-minime shadow-none">Registrieren</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12 pt-5">
				<div class="bg-white cards-price py-3 d-flex flex-column justify-content-between mt-5" >
					<div>
						<p class="text-center text-uppercase">Basis-Paket</p>
						<div class="mt-3 d-flex justify-content-center align-items-center">
							<h3>29,00</h2>
							<p>€</p>
						</div>
						<p class="mb-3 text-9 text-center">monatl. kündbar</p>
						<div class="px-3 d-flex justify-content-center">
							<ul class="features">
								<li><strong>Beobachtungsprotokolle</strong> für Gefühle, Gedanken, Anspannung, Stimmung</li>
								<li><strong>Notizfunktion</strong> Alle minime Features aus dem Basis-Paket</li>
								<li><strong>Positivtagebuch</strong> für Erfolge und Selbstmitgefühl</li>
								<li>Loben und Reagieren via <strong>Emojis</strong></li>
								<li><strong>Kommentarfunktion</strong> für jeden Eintrag verfügbar</li>
								<li>Individuelle <strong>Aufträge</strong> festhalten und Eintragsbogen verlinken</li>
								<li><strong>Erinnerungen 🔔</strong> für Aufträge festlegen*</li>
								<li>Interaktive <strong>Verhaltensanalysen</strong> erstellen</li>
								<li><strong>ABC-Schema</strong> anlegen und Alternativen finden</li>
								<li><strong>Ressourcen</strong> sammeln & dokumentieren</li>
							</ul>
						</div>
					</div>
					<div class="my-3 text-center">
						<a href="https://app.minime.health" type="button" class="btn btn-purple btn-minime shadow-none">Registrieren</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12 my-5">
				<div class="bg-white cards-price py-3 d-flex flex-column justify-content-between" >
					<div>
						<p class="text-center text-uppercase">Enterprise-Paket</p>
						<div class="d-flex justify-content-center pt-3">
							<svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M28.8516 41.0415H26.1432C25.3307 41.0415 24.7891 41.5832 24.7891 42.3957C24.7891 43.2082 25.3307 43.7498 26.1432 43.7498H28.8516C29.6641 43.7498 30.2057 43.2082 30.2057 42.3957C30.2057 41.5832 29.6641 41.0415 28.8516 41.0415ZM15.3099 30.2082H12.6016C11.7891 30.2082 11.2474 30.7498 11.2474 31.5623C11.2474 32.3748 11.7891 32.9165 12.6016 32.9165H15.3099C16.1224 32.9165 16.6641 32.3748 16.6641 31.5623C16.6641 30.7498 16.1224 30.2082 15.3099 30.2082ZM28.8516 30.2082H26.1432C25.3307 30.2082 24.7891 30.7498 24.7891 31.5623C24.7891 32.3748 25.3307 32.9165 26.1432 32.9165H28.8516C29.6641 32.9165 30.2057 32.3748 30.2057 31.5623C30.2057 30.7498 29.6641 30.2082 28.8516 30.2082ZM15.3099 41.0415H12.6016C11.7891 41.0415 11.2474 41.5832 11.2474 42.3957C11.2474 43.2082 11.7891 43.7498 12.6016 43.7498H15.3099C16.1224 43.7498 16.6641 43.2082 16.6641 42.3957C16.6641 41.5832 16.1224 41.0415 15.3099 41.0415ZM31.5599 15.3123H28.8516V12.604C28.8516 11.7915 28.3099 11.2498 27.4974 11.2498C26.6849 11.2498 26.1432 11.7915 26.1432 12.604V15.3123H23.4349C22.6224 15.3123 22.0807 15.854 22.0807 16.6665C22.0807 17.479 22.6224 18.0207 23.4349 18.0207H26.1432V20.729C26.1432 21.5415 26.6849 22.0832 27.4974 22.0832C28.3099 22.0832 28.8516 21.5415 28.8516 20.729V18.0207H31.5599C32.3724 18.0207 32.9141 17.479 32.9141 16.6665C32.9141 15.854 32.3724 15.3123 31.5599 15.3123ZM53.2266 13.9582H43.7474V1.77067C43.7474 0.958171 43.2057 0.416504 42.3932 0.416504H12.6016C11.7891 0.416504 11.2474 0.958171 11.2474 1.77067V13.9582H1.76823C0.955729 13.9582 0.414062 14.4998 0.414062 15.3123V53.229C0.414062 54.0415 0.955729 54.5832 1.76823 54.5832H53.2266C54.0391 54.5832 54.5807 54.0415 54.5807 53.229V15.3123C54.5807 14.4998 54.0391 13.9582 53.2266 13.9582ZM51.8724 51.8748H3.1224V16.6665H12.6016C13.4141 16.6665 13.9557 16.1248 13.9557 15.3123V3.12484H41.0391V15.3123C41.0391 16.1248 41.5807 16.6665 42.3932 16.6665H51.8724V51.8748ZM42.3932 41.0415H39.6849C38.8724 41.0415 38.3307 41.5832 38.3307 42.3957C38.3307 43.2082 38.8724 43.7498 39.6849 43.7498H42.3932C43.2057 43.7498 43.7474 43.2082 43.7474 42.3957C43.7474 41.5832 43.2057 41.0415 42.3932 41.0415ZM39.6849 30.2082C38.8724 30.2082 38.3307 30.7498 38.3307 31.5623C38.3307 32.3748 38.8724 32.9165 39.6849 32.9165H42.3932C43.2057 32.9165 43.7474 32.3748 43.7474 31.5623C43.7474 30.7498 43.2057 30.2082 42.3932 30.2082H39.6849Z" fill="#833E78"/>
							</svg>
						</div>
						<div class="my-4 d-flex justify-content-center align-items-center px-3">
							<h4 class="text-center">Individuell für Krankenhäuser, Einrichtungen und Praxen</h4>
						</div>
						<div class="px-3 d-flex justify-content-center">
							<ul class="features">
								<li><strong>Features:</strong> Alle minime Features aus dem Basis-Paket</li>
								<li><strong>NEU: </strong>Gemeinsame therapeutische Behandlungen für Krankenhäuser und Praxen möglich. </li>
							</ul>
						</div>
					</div>
					<div class="my-3 text-center">
						<button type="button" class="btn btn-minime btn-purple-ghost shadow-none" data-bs-toggle="modal" data-bs-target="#enterprisePopup">Anfragen</button>
					</div>
				</div>
			</div>
		</div>
		<p class="small">*auf iPhones erst ab IOS 16.4 möglich</p>
	</div>
</div>
<div id="price-values" class="bg-purple pt-5">
	<div class="container">
		<div class="row justify-content-between align-items-start my-5">
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.one')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_one') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.two')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_two') %>
					</div>
				</p>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.three')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_three') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.four')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_four') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.five')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_five') %>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 position-relative">
				<div class="mini-circle border-white"></div>
				<div class="ps-5 pb-3">
					<h3 class="text-uppercase text-white mb-2"><%= t(:'prices.values.six')%></h3>
					<p class="block-text text-white pb-5 pt-3"><%= t(:'prices.values.p_six') %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="webinar" class="py-3 py-md-5 mt-4">
	<div class="container">
		<div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-sm-between py-3 text-center">
			<div class="text-center flex-grow-1">
				<div class="d-flex justify-content-center">
					<div class="circle-border"><%= image_tag 'team/paul.png', class: "rounded-circle image-width-200" %></div>
				</div>
				<div class="card-body pt-2 position-relative">
					<div class="mini-circle border-orange"></div>
					<h4 class="text-center mb-2">Sprich doch mal mit Paul!</h4>
				</div>
			</div>
			<div class="ps-0 ps-lg-5 w-75">
				<p class="my-3 text-center text-md-start pt-3 pt-sm-0">
					Unser Mitgründer Paul Schneeweiß ist Psychologe (M.Sc.) und Kinder- und Jugendlichenpsychotherapeut für Verhaltenstherapie.
					Er setzt sich leidenschaftlich mit Fallkonzeptionen und therapeutischen Materialien auseinander. Hierzu gibt er Workshops und Seminare an Ausbildungsinstituten. Paul gibt Interessierten sehr gerne eine persönliche Einführung zu minime.
				</p>
				<div class="py-5">
					<a href="https://calendly.com/paul-minime-health/30min" type="button" target="_blank"  class="btn-purple btn-minime btn-minime shadow-none">Termin vereinbaren</a>
				</div>
			</div>
		</div>
	</div>
</div>
