<div id="team" class="background-white py-3">
  <div class="container  px-lg-5 py-3">
    <h2 class="my-3 text-start">minime Team</h2>
    <p class="mb-5 text-start">Lust auf ein persönliches Kennenlernen inklusive Einführung in die App? Sprich uns an!</p>
    <div class="blue-grid">
      <div class="card text-center text-white blue-box">
        <div class="card-team-img"><%= image_tag 'paul.png', class: "" %></div>
        <div class="card-body pt-3">
          <h5 class="text-center text-white mb-4">PAUL<br>
            SCHNEEWEIß</h5>
          <p class="text-center text-white">CEO &<br>
            Psychotherapeut</p>
          <a href="https://www.linkedin.com/in/paul-schneewei%C3%9F-258b031b5/" target="_blank" class="mt-auto mb-3">
            <%= image_tag 'linkedin.svg'%>
          </a>
        </div>
      </div>
      <div class="card text-center blue-box">
        <div class="card-team-img"><%= image_tag 'nina.png', class: "" %></div>
        <div class="card-body pt-3">
          <h5 class="text-center text-white mb-4">NINA<br>
            HACKENBROICH</h5>
          <p class="text-center text-white">Front- & Backend<br>
            Entwicklerin</p>
          <a href="https://www.linkedin.com/in/nina-hackenbroich/" target="_blank" class="mt-auto mb-3">
            <%= image_tag 'linkedin.svg'%>
          </a>
        </div>
      </div>
      <div class="card text-center blue-box">
        <div class="card-team-img"><%= image_tag 'stella.png', class: "" %></div>
        <div class="card-body pt-3">
          <h5 class="text-center text-white mb-4">STELLA<br>
            RÖMHILDT</h5>
          <p class="text-center text-white">User Experience<br>
            Research</p>
          <a href="https://www.linkedin.com/in/stellar%C3%B6mhildt/" target="_blank" class="mt-auto mb-3">
            <%= image_tag 'linkedin.svg'%>
          </a>
        </div>
      </div>
      <div class="card text-center blue-box">
        <div class="card-team-img"><%= image_tag 'rafael.jpg', class: "" %></div>
        <div class="card-body pt-3">
          <h5 class="text-center text-white mb-4">RAFAEL R.<br>
            DA SILVA</h5>
          <p class="text-center text-white">UX/UI Design &<br>
            Digital Marketing</p>
          <a href="https://www.linkedin.com/in/rafaelrodrigodasilva/" target="_blank" class="mt-auto mb-3" >
            <%= image_tag 'linkedin.svg'%>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
