<div id="header" class="bg-team d-flex justify-content-end align-items-center">
	<div class="container">
		<div class="p-3 text-end">
			<h1 class="text-uppercase my-2 text-white text-end"><%= t(:'team.header') %></h1>
			<h3 class="my-2 text-white text-end"><%= t(:'team.subheader') %></h3>
			<%#= image_tag 'v3/minime-party.svg', class: "image-width-200 pt-3" %>
		</div>
	</div>
</div>
<%= partial "partials/team-photos" %>
<%= partial "partials/jobs" %>
<%= partial "partials/company-values" %>
<%= partial "partials/partners" %>
<%= partial "partials/founder-story" %>
