<div id="team" class="py-3">
  <div class="container  px-3 px-lg-5 py-3">
    <h2 class="my-3 text-start">Das sind die minimes.</h2>
    <div class="blue-grid">
      <div class="card text-center shadow">
        <div class="card-team-img"><%= image_tag 'nina.png', class: "" %></div>
        <div class="card-body pt-3">
          <h4 class="text-center mb-4">NINA<br>
            HACKENBROICH</h4>
          <p class="text-center">Co-Founder<br>
            Entwicklerin</p>
          <a href="https://www.linkedin.com/in/nina-hackenbroich/" target="_blank" class="mt-auto mb-3">
            <%= image_tag 'v3/linkedin.svg', class: "mt-3"%>
          </a>
        </div>
      </div>
      <div class="card text-center shadow">
        <div class="card-team-img"><%= image_tag 'paul.png', class: "" %></div>
        <div class="card-body pt-3">
          <h4 class="text-center mb-4">PAUL<br>
            SCHNEEWEIß</h4>
          <p class="text-center">Co-Founder<br>
            Psychotherapeut</p>
          <a href="https://www.linkedin.com/in/paul-schneewei%C3%9F-258b031b5/" target="_blank" class="mt-auto mb-3">
            <%= image_tag 'v3/linkedin.svg', class: "mt-3"%>
          </a>
        </div>
      </div>
      <div class="card text-center shadow">
        <div class="card-team-img"><%= image_tag 'stella.png', class: "" %></div>
        <div class="card-body pt-3">
          <h4 class="text-center mb-4">STELLA<br>
            RÖMHILDT</h4>
          <p class="text-center">User Experience<br>
            Research</p>
          <a href="https://www.linkedin.com/in/stellar%C3%B6mhildt/" target="_blank" class="mt-auto mb-3">
            <%= image_tag 'v3/linkedin.svg', class: "mt-3"%>
          </a>
        </div>
      </div>
      <div class="card text-center shadow">
        <div class="card-team-img"><%= image_tag 'rafael.png', class: "" %></div>
        <div class="card-body pt-3">
          <h4 class="text-center mb-4">RAFAEL R.<br>
            DA SILVA</h4>
          <p class="text-center">UX/UI Design &<br>
            Digital Marketing</p>
          <a href="https://www.linkedin.com/in/rafaelrodrigodasilva/" target="_blank" class="mt-auto mb-3" >
            <%= image_tag 'v3/linkedin.svg', class: "mt-3"%>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
