<div id="team" class="background-white p-5 text-left">
  <div class="container">
    <div class="container pb-4">
      <h2 class="text-center text-uppercase">Unser Team</h2>
    </div>
    <div class="row justify-content-between align-items-start px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'paul.png', class: "avatar mb-3" %>
        <h3>PAUL SCHNEEWEIß</h3>
        <p class="body-text-black-small font-weight-light font-italic">Co-Founder minime & Psychologe</p>
        <a href="https://www.linkedin.com/in/paul-schneewei%C3%9F-258b031b5/">
          <%= image_tag 'linkedin_btn.png'%>
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'sepi.png', class: "avatar mb-3" %>
        <h5 class="text-uppercase">sepideh razazzadeh</h5>
        <p class="body-text-black-small font-weight-light font-italic">Co-Founder, Product & Operations</p>
        <a href="https://www.linkedin.com/in/sepideh-razazzadeh-7b137540/">
          <%= image_tag 'linkedin_btn.png'%>
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'stella.png', class: "avatar mb-3" %>
        <h5 class="text-uppercase">stella Römhildt</h5>
        <p class="body-text-black-small font-weight-light font-italic">User Experience Researcher & Design</p>
        <a href="https://www.linkedin.com/in/stellar%C3%B6mhildt/">
          <%= image_tag 'linkedin_btn.png'%>
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'nina.png', class: "avatar mb-3" %>
        <h5 class="text-uppercase">Nina Hackenbroich</h5>
        <p class="body-text-black-small font-weight-light font-italic">Front- & Backend Entwicklerin</p>
        <a href="https://www.linkedin.com/in/nina-hackenbroich/">
          <%= image_tag 'linkedin_btn.png'%>
        </a>
      </div>
    </div>
  </div>
</div>