<div id="team" class="background-white p-5 text-left">
  <div class="container">
    <div class="container pb-4">
      <h2 class="text-center text-uppercase">Unser Team</h2>
    </div>
    <div class="row justify-content-between align-items-start px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'paul.png', class: "avatar mb-3" %>
        <h5>PAUL SCHNEEWEIß</h5>
        <p class="body-text-black-small font-weight-light font-italic">Founder minime & Psychologe</p>
        <a href="https://www.linkedin.com/in/paul-schneewei%C3%9F-258b031b5/" target="_blank">
          <%= image_tag 'linkedin_btn.png'%>
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'stella.png', class: "avatar mb-3" %>
        <h5 class="text-uppercase">stella Römhildt</h5>
        <p class="body-text-black-small font-weight-light font-italic">User Experience Research & Design</p>
        <a href="https://www.linkedin.com/in/stellar%C3%B6mhildt/" target="_blank">
          <%= image_tag 'linkedin_btn.png'%>
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'nina.png', class: "avatar mb-3" %>
        <h5 class="text-uppercase">Nina Hackenbroich</h5>
        <p class="body-text-black-small font-weight-light font-italic">Front- & Backend Entwicklerin</p>
        <a href="https://www.linkedin.com/in/nina-hackenbroich/" target="_blank">
          <%= image_tag 'linkedin_btn.png'%>
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'rafael.jpg', class: "avatar mb-3" %>
        <h5 class="text-uppercase">Rafael da Silva</h5>
        <p class="body-text-black-small font-weight-light font-italic">UX UI Designer & Digital Marketing</p>
        <a href="https://www.linkedin.com/in/rafaelrodrigodasilva/" target="_blank">
          <%= image_tag 'linkedin_btn.png'%>
        </a>
      </div>
    </div>
  </div>
</div>
