<div id="fachkreise" class="header background-white py-3 bg-header-purple">
  <div class="container">
    <div class="px-lg-5 px-3 header-space">
      <div class="d-block d-md-flex justify-content-between align-items-center">
        <div class="pe-5">
          <h1 class="text-uppercase">Bewährte Therapietools - Digital neu entdecken</h1>
          <h3 class="my-3 my-md-4 my-lg-5">minime bringt Therapie und Alltag zusammen - spielerisch und interaktiv.</h3>
          <p class="">
            Unser Mitgründer Paul Schneeweiß ist Psychologe (M.Sc.) und Kinder- und Jugendlichenpsychotherapeut für Verhaltenstherapie.
            <br>
            <br>
            Er setzt sich leidenschaftlich mit Fallkonzeptionen und therapeutischen Materialien auseinander. Hierzu gibt er Workshops und Seminare an Ausbildungsinstituten. Paul gibt Interessierten sehr gerne eine persönliche Einführung zu minime.</p>
        </div>
        <div class="text-center">
          <%= image_tag 'team/paul.png', class: "fachkreise-header-img" %>
          <p class="fw-bold">Sprich doch mal mit Paul!</p>
          <div class="py-5">
            <a href="https://calendly.com/paul-minime-health/30min" type="button" class="btn-purple shadow-none">Termin vereinbaren</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="citation" class="container">
  <div class="d-md-flex d-sm-block justify-content-md-between justify-content-sm-center align-items-sm-center align-items-md-start text-sm-center">
    <div class="citation-bg d-flex justify-content-center p-3 m-5">
      <div class="text-center">
        <%= image_tag 'research/dr_may.jpeg', class: "citation-img" %>
        <div class="">
          <h4 class="">Dr. med. Rita May </h4>
          <small class="fst-italic fw-light text-small">Chefärztin für Kinder- und Jugendpsychiatrie und Psychotherapie (KEH)</small>
          <div class="d-flex justify-content-center">
            <p class="pt-3 w-50">"Es besteht ein hoher Bedarf an Kommunikation mit den Patient:innen - minime ist eine Lösung, um Beobachtungen zu teilen, ohne die ganze Sitzung damit zu blockieren."</p>
          </div>
        </div>
      </div>
    </div>
    <%# <div class="citation-bg d-flex justify-content-center p-3 m-5">
      <div class="text-center">
        <%= image_tag 'research/dr_may.jpeg', class: "citation-img" %>
    <%# <h4 class="">Laura Winkelmann</h4>
        <small class="fst-italic fw-light text-small">Kinder- und Jugendlichenpsychotherapeutin</small>
        <p>"Papierprotokolle können nicht mehr verloren gehen und die Patienten sind viel motivierter, ihre Aufgaben in einer App zu dokumentieren als auf Papier."</p>
      </div>
    </div> %>
  </div>
</div>
<div class="">
  <div class="bg-right">
    <div class="container my-5">
      <div class="px-3">
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 order-last order-lg-first">
            <div class="">
              <h4 class="mb-3">Tools in der Verhaltenstherapie</h4>
              <p>
                In allen Phasen der Therapie, von der Probatorik bis zur Rückfallprophylaxe spielen dabei therapeutische Tools eine zentrale Rolle. Sie helfen dabei psychologische Grundlagen zu veranschaulichen und die Zeit zwischen den Sitzungen zu gestalten (Reaktionsmuster entdecken und alternative Strategien ausprobieren, hilfreiche Muster etablieren).
                <br>
                <br>
                Ein Großteil aktuell verwendeter Therapietools besteht auch heute noch aus Arbeitsblättern in Form von Reflektionsbögen und Selbstbeobachtungs- protokollen. Sie werden störungsübergreifend eingesetzt. Allerdings lassen sie sich nur schwer an die Bedürfnisse und an die Lebensrealität von Patient:innen anpassen. </p>
            </div>
          </div>
          <div class="col-12 col-lg-5 order-first order-lg-last">
            <%= image_tag 'research/paper.svg', class: "w-100 p-4" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-left">
    <div class="container my-5">
      <div class="px-3">
        <div class="row align-items-center">
          <div class="col-12 col-lg-5">
            <%= image_tag 'research/cards.svg', class: "w-100 p-4" %>
          </div>
          <div class="col-12 col-lg-7">
            <div class="">
              <h4 class="mb-3">Psychoedukatives Kartenset</h4>
              <p>
                Das psychoedukative Kartenset "Von Teufelskreisen und Glaubenssätzen" bietet eine flexible Möglichkeit für die therapeutische Arbeit mit Patient:innen. Es wurde von unserem Gründer Paul entwickelt und Anfang 2021 über den Beltz-Verlag (Link zum Kartenset) veröffentlicht.
                <br>
                <br>
                Verhaltenstherapeutische Alltagsbegriffe werden hier symbolhaft dargestellt. Dadurch lassen sich Verhaltensbeobachtungen begleiten, Störungsmodelle erarbeiten, Interventionen herleiten und Trainingsphasen evaluieren lassen.
                <br>
                <br>
                In der minime App wird diese Idee aufgegriffen und in eine ganzheitliche, digitale Therapiebegleitung integriert.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-right">
    <div class="container my-5">
      <div class="px-3">
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 order-last order-lg-first">
            <div class="">
              <h4 class="mb-3">Psychotherapeutische Arbeitsmaterialien -  digital und interaktiv</h4>
              <p class="mb-3">
                Bisher werden kaum unterstützenden digitalen Lösungen für Therapeut:innen angeboten. Dabei bietet die Digitalisierung große Chancen um das Potenzial des lerntheoretischen Ansatzes der Verhaltenstherapie vollständig auszuschöpfen - ganz ohne das Ersetzen des menschlichen Expertise durch Algorithmen und künstliche Intelligenz und anders als DiGAs auf Rezept als autonome Onlineprogramme. <br>
                <br>
                <strong>Unser Ziel ist es, die klassische Psychotherapie durch moderne Tools zu unterstützen, anstatt zu ersetzen.  Alle Inhalte sind auf bewährten Methoden basiert und, durch einen starken nutzerzentrierten Ansatz, auf die Realität von Therapeut:innen und Patient:innen ausgerichtet.</strong></p>
            </div>
          </div>
          <div class="col-12 col-lg-5 order-first order-lg-last">
            <div id="carouselExampleDark" class="carousel carousel-dark slide p-4" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner p-3 p-md-4">
                <div class="carousel-item active" data-bs-interval="10000">
                  <%= image_tag 'research/tension.png', class: "w-100 p-4 p-lg-4" %>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <%= image_tag 'research/analysis.png', class: "w-100 p-4 p-lg-4" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag 'research/positive.png', class: "w-100 p-4 p-lg-4" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag 'research/timeline.png', class: "w-100 p-4 p-lg-4" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-3">
  <div class="container">
    <div class="px-lg-5 px-3">
      <div class="container my-5 px-3">
        <div id="team-checks" class="row">
          <div class="col-xs-12 col-sm-6 col-lg-3 my-3 text-center d-flex justify-content-center">
            <div class="circle-research drop-shadow d-flex justify-content-center align-items-center px-3">
              <p>
                Störungs-übergreifend einsetzbar</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3 my-3 text-center d-flex justify-content-center ">
            <div class="circle-research drop-shadow d-flex justify-content-center align-items-center px-3">
              <p>Ohne Einarbeitungszeit</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3 my-3 text-center d-flex justify-content-center   ">
            <div class="circle-research drop-shadow d-flex justify-content-center align-items-center px-3">
              <p>Kontrolle zu 100% bei Therapeut:innen</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3 my-3 text-center d-flex justify-content-center ">
            <div class="circle-research drop-shadow d-flex justify-content-center align-items-center px-3">
              <p>Vor Ort und bei der Videotherapie nutzbar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="" class="bg-purple-long my-5">
  <div class="container py-5">
    <div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
      <div class="row my-5">
        <div class="col-12 col-md-4">
          <div class="p-3 research-cards bg-white rounded-3 drop-shadow my-3">
            <div class="d-flex justify-content-start align-items-end mb-3">
              <%= image_tag 'research/blob-small.svg', class: "patient-icon" %>
              <h3 class="neg-margin">minime unterstützt</h3>
            </div>
            <p>... bei der motivationalen Klärung durch besseres Reflektieren und Integration von Therapieinhalten im Alltag</p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="p-3 research-cards bg-white rounded-3 drop-shadow my-3">
            <div class="d-flex justify-content-start align-items-end mb-3">
              <%= image_tag 'research/blob-small.svg', class: "patient-icon" %>
              <h3 class="neg-margin">minime fördert</h3>
            </div>
            <p>... die Wahrnehmung, Bewertung, und Veränderungen von Gedanken, Gefühlen und Verhalten</p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="p-3 research-cards bg-white rounded-3 drop-shadow my-3">
            <div class="d-flex justify-content-start align-items-end mb-3">
              <%= image_tag 'research/blob-small.svg', class: "patient-icon" %>
              <h3 class="neg-margin">minime motiviert</h3>
            </div>
            <p>... zum Aufbau von Fertigkeiten des Selbstmanagements</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial "partials/partners" %>
